
 <div class="row">
<div class="col-md-4 mx-auto" style="left: 30%; margin-right: 200px; "> 
    <div class="card">
        <div class="card-header">
            <h1 class="text-center"> Publicar</h1>
        </div>
        <div class="card-body">
            <form action="/publicaciones/new-public" method="POST"> 
                <div class="form-group">
                    <input  required type="text" name="titulo" class="form-control" placeholder="Titulo de la publicacion" autofocus>
                </div>
                 <div class="form-group">
                    <textarea  name="descripcion" class="form-control" placeholder="descripcion" ></textarea>
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Publicar</button>
                </div>


            </form>
        </div>


    </div>

</div>
</div>