<div class="card">
    <div class="card boddy">

            <h1>
                about
            </h1>

            <p>

               Holaaaaaaaaaaaaa
            </p>
        <button class="btn btn-primary">hola </button>
    </div>
</div>