
	<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
             
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="/about"><i class="fa fa-envelope-o"></i> ofertaloTodo@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> direccion</a></li>
					</ul>
					<ul class="header-links pull-right">
            {{#if user}} 
            {{!-- 	<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li> --}}
						  {{!-- <li><a href="#"><i class="fa fa-user-o"></i> Mi cuenta</a></li> --}}
              <li class="nav-item dropdown">
                  <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>{{user.name}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e9f2f5;"
                    <a style="color:rgb(14, 13, 13)"; class="dropdown-item" href="/publicaciones"><i class="fa fa-user"></i>Mis publicaciones</a>
                    <a style="color:rgb(14, 13, 13)"; class="dropdown-item" href="/publicaciones/add"><i class="fa fa-user"></i>Publicar</a>
                    <div class="dropdown-divider"></div>
                    <a style="color:rgb(14, 13, 13)"; class="dropdown-item" href="/users/logout"><i class="fa fa-user"></i>Cerrar sesión</a>
                  </div> 


            
          </li>
             {{else}}
              <li><a href="/signin"><i class="fa fa-dollar"></i> iniciar</a></li>
             <li><a href="/signup"><i class="fa fa-dollar"></i> Registrarse</a></li>
             {{/if}} 
           


















					
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->








{{!-- 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Ofertalo Todo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Menu <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca de </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
    {{#if user}} 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notes 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/publicaciones">Todas las publicaciones</a>
              <a class="dropdown-item" href="/publicaciones/add">Agregar Publicacon</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
            </div>
          </li>
      {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Iniciar Sesión<span class="sr-only">(current)</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrar</a>
          </li>
        {{/if}} 
      </ul>
    </div>
  </div>
</nav>
 --}}