<% include partes/_header %> 
<div class="container">
        <div class="row">
           <!--  formulario -->
           <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/editar/<%= usuario._id %>" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Escribe tu nombre" class="form-control" value="<%= usuario.nombre %>">
                            </div>
                            <div class="form-group">
                                 <input type="text" name="apellido" placeholder="Escribe tu apellido" class="form-control" value="<%= usuario.apellido%>">
                             </div>
                             <div class="form-group">
                                 <input type="text" name="edad" placeholder="Escribe tu edad" class="form-control" value="<%= usuario.edad %>">
                             </div>
                             <button type="submit" class="btn btn-primary btn btn-block">Actualizar</button>
 
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
           <% include partes/_footer %> 